<script setup lang="ts">
import FancyButton from './FancyButton.vue';
import { mdiHeartHalfFull } from '@mdi/js';
import { mdiCursorDefaultClick } from '@mdi/js';
</script>
<template>
  <v-container>
    <v-row>
      <v-col><fancy-button><v-icon :icon="mdiHeartHalfFull"></v-icon>Love Me
      <template v-slot:tail>Tail</template>
      </fancy-button></v-col>
      <FanvyBotton>Click Me
        <template #tail>
          <v-icon :icon="mdiCursorDefaultClick "></v-icon>
        </template>
      </FanvyBotton>
      
      
      

    </v-row>
  </v-container>
</template>