<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref} from "vue";
const framList = [
  {name: "VueJS", 
  img: "https://img.icons8.com/?size=512&id=rY6agKizO9eb&format=png" ,
  rating: 10
  },
  {name: "AngularJS", 
  img: "https://img.icons8.com/?size=512&id=71257&format=png" ,
  rating: 20
  },
  {name: "ReactJS", 
  img: "https://img.icons8.com/?size=512&id=8g6WJkjf0vaP&format=png" ,
  rating: 14
  },
]
function changeRating(index:number, rating:number){
  console.log("action"+index+" :" + rating);
  framList.value[index].rating = rating;
}
const orderList = computed(() =>{
  return [...framList.value].sort((n1,n2) => n2.rating - n1.rating);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col v-for="(item,index) of framList" :key="index">
        <FrameworkPop 
        :name="item.name" 
        :img="item.img" 
        :rating="item.rating"
        :index="index"
        @action="changeRating">
      </FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  
</template>